<div class="bg-white m-3 justify-self-center set-div mt-3 pr-3 pl-3">
  <table *ngIf="visible" class="table fs-14">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nickname</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Creation Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of comments">
        <td>{{ item.nickname }}</td>
        <td>{{ item.title }}</td>
        <td style="width: 40%">{{ item.content }}</td>
        <td style="width: 10% !important">
          {{ splitter(item.createdAt) }}
        </td>
        <td class="" style="max-width: 30%">
          <fa-icon
            data-toggle="tooltip"
            data-placement="top"
            title="Edit Comment"
            [icon]="faPen"
            class="mr-1"
            routerLink="/comments/edit/{{ item.id }}"
          >
          </fa-icon>
          <fa-icon
            data-toggle="tooltip"
            data-placement="top"
            title="Delete Comment"
            (click)="deleteComment(item.id)"
            [icon]="faTrashAlt"
          ></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
