<div class="sidenav bg-dark">
  <div class="login-main-text bg-teal">
     <h1 class="display-1">Wholedit</h1>
  </div>
</div>
<div class="main d-flex">
  <div class="col-md-5 col-sm-12">
     <div class="login-form">
        <form>
           <div class="form-group">
              <label>Login or email</label>
              <input type="text" class="form-control" placeholder="Login or email">
           </div>
           <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password">
           </div>
           <button type="submit" class="btn bg-teal w-100">Login</button>
        </form>
     </div>
  </div>
</div>
