<div class="bg-white m-3 justify-self-center set-div mt-3">
  <div class="d-flex justify-content-center">
    <div class="d-flex">
      <div class="d-flex justify-content-end flex-column pr-3">
        <div class="d-flex fs-20 justify-content-end">You're editing</div>
        <div
          class="d-flex font-weight-bold fs-28 justify-content-end"
          style="color: teal"
        >
          <span class="float-right">Comment</span>
        </div>
      </div>
    </div>
    <div style="width: 85%">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nickname</label>
        <input
          [(ngModel)]="nickname"
          type="title"
          class="form-control fs-14"
          id="exampleFormControlInput1"
          disabled
        />
      </div>

      <div class="form-group d-flex">
        <div class="d-flex flex-column w-100">
          <label for="exampleFormControlInput1">Title</label>
          <div class="d-flex flex-row">
            <input
              [(ngModel)]="title"
              type="subtitle"
              class="form-control fs-14"
              id="exampleFormControlInput1"
              placeholder="Choose best VPN service with us!"
            />
          </div>
        </div>
        <div class="d-flex pl-2">
          <button type="button" class="btn btn-info" (click)="updateComment()">
            Update
          </button>
        </div>
      </div>
      <hr style="background-color: teal" />
      <angular-editor
        style="background-color: rgba(0, 0, 0, 0.1)"
        [(ngModel)]="content"
        [placeholder]="content"
        [config]="editorConfig"
      >
      </angular-editor>
    </div>
  </div>
</div>
