.set-div {
  min-height: 50%;
  padding-top: 2vh;
  padding-bottom: 5vh;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.tile {
  transition: all 0.5s;
}
.tile:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
