.main-container {
  display: flex;
  min-height: 100vh !important;
  flex-direction: column;
}
.titlebar {
  height: 30px;
}
.sidebar {
  height: calc(100vh - 30px);
}
.main {
  height: calc(100vh - 30px);
}
