fa-icon{
  cursor: pointer;
}
.wrapper{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}
.html-wrapper{
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.titlebar{
  background-color: rgba(0,0,0, 0.9);
  height: 50px;
}
