  <div class="text-white" id="sidebar-wrapper">
    <div class="sidebar-heading color bg-teal d-flex justify-content-center"><span class="display-4" style="font-size: 42px !important; font-style: italic;">Wholedit</span></div>
    <div class="list-group list-group-flush">
      <a href="#" routerLink="/dashboard" class="list-group-item list-group-item-action bg-dark text-white fs-12">
        <fa-icon [icon]="faChart" class="mr-1"></fa-icon>
        Dashboard
      </a>
      <a href="#" class="list-group-item list-group-item-action text-white bg-dark text-white fs-12">Shortcuts</a>
      <a href="#" class="list-group-item list-group-item-action text-white bg-dark text-white fs-12">Overview</a>
      <a href="#" class="list-group-item list-group-item-action text-white bg-dark text-white fs-12">Events</a>
      <a href="#" class="list-group-item list-group-item-action text-white bg-dark text-white fs-12">Profile</a>
      <a href="#" class="list-group-item list-group-item-action text-white bg-dark text-white fs-12">Status</a>
    </div>
  </div>
