<div *ngIf="dashboard">
  <div
    class="bg-white fs-14 m-3 justify-self-center set-div pt-3 pb-1 mt-3 pr-3 pl-3"
  >
    <div class="d-flex flex-row w-100 p-2">
      <div
        class="d-flex flex-row w-25 mr-5 card bg-primary justify-content-center text-white p-2"
      >
        <fa-icon class="fa-5x p-2" [icon]="faPosts"></fa-icon>
        <div class="d-flex justify-content-center flex-column">
          <div class="d-flex fs-12">created posts</div>
          <div class="font-weight-bold fs-24">{{ dashboard.amount }}</div>
        </div>
      </div>
      <div
        class="d-flex flex-row w-25 mr-5 card text-white justify-content-center p-2 bg-warning"
      >
        <div class="d-flex w-50 justify-content-end">
          <fa-icon class="fa-5x p-2" [icon]="faHeading"></fa-icon>
        </div>
        <div class="d-flex justify-content-center flex-column">
          <div class="d-flex fs-12">latest post</div>
          <div class="font-weight-bold fs-24">
            {{ stringCutter(dashboard.post.title) }}
          </div>
        </div>
      </div>
      <div
        class="d-flex flex-row w-25 mr-5 card text-white justify-content-center p-2"
        style="background-color: salmon"
      >
        <fa-icon class="fa-5x p-2" [icon]="faUser"></fa-icon>
        <div class="d-flex justify-content-center flex-column">
          <div class="d-flex fs-12">last activity made by</div>
          <div class="font-weight-bold fs-24">
            {{ dashboard.post.user.login }}
          </div>
        </div>
      </div>
      <div
        class="d-flex flex-row w-25 mr-5 card text-white justify-content-center p-2 bg-success"
      >
        <fa-icon class="fa-5x p-2" [icon]="faClock"></fa-icon>
        <div class="d-flex justify-content-center flex-column">
          <div class="d-flex fs-12">last change made at</div>
          <div class="font-weight-bold fs-24">
            {{ splitter(dashboard.post.updatedAt) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white m-3 justify-self-center set-div mt-3">
    <div class="d-flex justi justify-content-center">
      <div style="width: 85%">
        <div class="d-flex flex-row w-50" style="margin-right: 2vh">
          <div class="input-group mb-1">
            <select
              [(ngModel)]="selectedPage"
              class="custom-select"
              id="inputGroupSelect01"
              (change)="changePosts()"
            >
              <option *ngFor="let item of sites" [ngValue]="item.id">
                {{ item.title }}
              </option>
            </select>
          </div>
        </div>
        <div class="w-100 justify-content-start">
          <div class="table-wrapper mt-2 d-flex justify-content-start">
            <table
              class="table table-light table-width table-hover table-striped fs-14"
            >
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Login</th>
                  <th scope="col">Page Name</th>
                  <th scope="col">Title</th>
                  <th scope="col">Content</th>
                  <th scope="col">Created At</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of posts">
                  <td>{{ item.user.login }}</td>
                  <td>{{ item.site.title }}</td>
                  <td>
                    {{ item.title }} <br />
                    <span class="text-muted">{{ item.subtitle }}</span>
                  </td>
                  <td style="width: 35%">{{ item.content }}</td>
                  <td style="width: 15%">{{ splitter(item.createdAt) }}</td>
                  <td style="width: 10%">
                    <fa-icon
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Edit Body of HTML"
                      [icon]="faPen"
                      class="mr-2 hover-fa"
                      routerLink="/posts/{{ item.id }}"
                    ></fa-icon>

                    <fa-icon
                      data-toggle="tooltip"
                      data-placement="top"
                      class="hover-fa"
                      title="Delete HTML Page"
                      [icon]="faTrashAlt"
                      (click)="deletePost(item.id)"
                    ></fa-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="bg-white fs-14 m-3 d-flex justify-content-center set-div pt-3 pb-1 mt-3 pr-3 pl-3"
  *ngIf="!dashboard"
>
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
      <fa-icon class="fa-10x text-warning" [icon]="faEyeSlash"></fa-icon>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <h2 class="font-weight-bold">There is no posts to load</h2>
    </div>
  </div>
</div>
<div *ngIf="sites">
  <div
    class="justify-content-end mt-2 mr-3"
    style="position: absolute; bottom: 30px; right: 10px"
  >
    <div routerLink="/posts/add" class="btn bg-success text-white">
      <fa-icon [icon]="faPlus" class="fs-24 pl-2 pr-2 pt-4 pb-4"></fa-icon>
    </div>
  </div>
</div>
<div *ngIf="!sites" class="modal-dialog modal-fullscreen-sm-down">
  You can't add post until you make atleast one page.
</div>
