/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

/*
    Background Colors
*/
.bg-color-black {
  background-color: #222831;
}

.bg-color-darkblue {
  background-color: #30475e;
}

.bg-color-lightred {
  background-color: #f05454;
}

.bg-color-gray {
  background-color: #e8e8e8;
}

/*
    Font-Colors
*/
.color-black {
  color: #222831;
}

.color-darkblue {
  color: #30475e;
}

.color-lightred {
  color: #f05454;
}

.color-gray {
  color: #e8e8e8;
}
