input[type="file"]::-webkit-file-upload-button {
  display: none;
}

input[type="file"]::file-selector-button {
  display: none;
}
.set-div {
  min-height: 50%;
  padding-top: 2vh;
  padding-bottom: 5vh;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
