<div class="sidenav bg-primary">
  <div class="login-main-text d-flex justify-content-center">
    <div
      class="border-bottom-2 color d-flex flex-row justify-content-center bg-primary"
      style="border-bottom: 1px solid white"
    >
      <div
        class="d-flex bg-primary font-weight-bold"
        style="border: 3px solid white"
      >
        <div class="bg-white m-1 pl-2 pr-2 w-50">
          <span class="text-primary" style="font-size: 64px">EDIT</span>
        </div>
        <div class="w-50 m-1 ml-1" style="font-size: 64px">CMS</div>
      </div>
    </div>
  </div>
</div>
<div class="main d-flex">
  <div class="col-md-5 col-sm-12">
    <div class="login-form">
      <div class="form-group">
        <label>Login or email</label>
        <input
          [(ngModel)]="emailorlogin"
          type="text"
          class="form-control"
          placeholder="Login or email"
        />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          [(ngModel)]="password"
          type="password"
          class="form-control"
          placeholder="Password"
        />
      </div>
      <button
        (click)="authUser()"
        type="submit"
        class="btn bg-warning text-white w-100"
      >
        Login
      </button>
    </div>
  </div>
</div>
